@mixin clearfix {
	&::before,
	&::after {
		content: "";
		display: table;
	}
	&::after {
		clear: both;
	}
}

@mixin font-size($size: 12, $base: 16) {
	$s: calc(strip-unit($size) / strip-unit($base));
	font-size: calc($s * 1rem);
}

@mixin line-height($height: 16, $base: 16) {
	$s: calc(strip-unit($height) / strip-unit($base));
	line-height: calc($s * 1rem);
}

@mixin background-linear-gradient($color1, $color2) {
	background: linear-gradient($color1, $color2);
}